@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}
.loading {
  width: 50px;
  height: 50px;
  border: 2px transparent solid;
  border-top: 2px blue solid;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
.grid-big {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-person {
  display: grid;
  grid-template-areas: "name name name";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem repeat(3, 3rem);
  border: solid 1px black;
  background-color: #202327;
  color: #c8c8c8;
}
.grid-persons {
  display: grid;
  grid-template-areas: "name name name";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem repeat(3, 3rem);
  border: solid 1px black;
  background-color: #202327;
  color: #c8c8c8;
}

.name-box {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #16191b;
  padding: 5px 0;
}
.grid-person-big {
  display: grid;
  grid-template-areas: "name name name";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem repeat(6, 6rem);
  border: solid 1px black;
  background-color: #202327;
  color: #c8c8c8;
}
/* .grid-persons:hover .name-box { */
/* background-color: #121213; */
/* } */
/* .grid-persons:hover { */
/* background-color: #181a1d; */
/* } */

.item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
}
